@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html {
        scroll-behavior: smooth;
    }
    .btn {
        @apply px-3 py-2 text-xs text-white rounded;
    }

    .content-container {
        height: calc(100vh - theme("spacing.24"));
    }
    @media only screen and (max-width: 640px) {
        .content-container {
            height: calc(100vh - theme("spacing.32"));
        }
    }
    .content {
        width: calc(100% - theme("spacing.56"));
    }
    .content-extra {
        width: calc(100% - theme("spacing.12"));
    }

    .frontSpaContainer {
        height: calc(100vh - 7.5rem);
    }
    .z-index-minus {
        z-index: -1;
    }
    .tab-content {
        @apply max-h-0;
    }
    .tab input:checked ~ .tab-content {
        max-height: 100%;
    }
    .tab input[type="checkbox"] + label::after {
        @apply w-6 h-6 rounded-full bg-gray-700 border  text-white float-right flex items-center justify-center;
        content: "+";
    }
    .tab input[type="checkbox"]:checked + label::after {
        content: "-";
    }
    .imgHover:hover .imgHoverDisplay {
        display: flex;
    }
    .displayBox {
        dispaly: flex;
    }

    .active {
        @apply bg-gray-500 border-red-500 border-l-4 text-white;
    }
    /* .active:first-child {
        @apply dark:bg-gray-800 border-none dark:hover:bg-gray-500 bg-transparent text-black;
    } */
    .active2 {
        @apply bg-gray-400 border-red-500 border-l-4 text-white;
    }
    .border-left-green-8 {
        border-left-color: #10b981;
        border-left-width: 8px;
    }
    .border-left-red-8 {
        border-left-color: #ef4444;
        border-left-width: 8px;
    }

    /* slider css */
    .slider .slick-prev {
        left: 5%;
    }
    .slider .slick-next {
        right: 5%;
    }
    .slider .slick-next::before {
        color: #f59e0b !important;
        opacity: 1 !important;
    }
    .slider .slick-prev::before {
        color: #f59e0b !important;
        opacity: 1 !important;
    }
    .slides .slick-next {
        position: absolute;
        top: 50%;
        z-index: 1;
    }
    .slides .slick-prev {
        position: absolute;
        top: 50%;
        z-index: 1;
    }
    .slides .slick-slide > div {
        margin: 0 0px;
    }
    /* @media screen and (max-width: 640px) {
        .slides .slick-track {
            height: 400px !important;
        } */

    /* carousel slider style start */

    .multiSlides .slick-prev,
    .multiSlides .slick-next {
        position: absolute;
        top: 50%;
        z-index: 1;
    }

    .multiSlides .slick-prev {
        left: 5%;
    }

    .multiSlides .slick-next {
        right: 5%;
    }
    .multiSlides .slick-slide > div {
        margin: 0 10px;
    }

    .slick-list {
        margin: 0 -10px;
    }

    .slick-slide *:focus {
        outline: none;
    }
}
